#forecast{
    margin-top: 2rem;
    gap: 1rem;
}

#topDisplay{
    margin-top: 2rem;
    
}

body{
    background-color: bisque;
}

#forecast{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 155, 202);
    font-weight: bolder;
}

label{
    font-weight: bolder;
}